.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    justify-content: center;
}


.social-links a i {
    width: 24px;
    height: 10px;
    transition: transform 0.6s ease, color 0.6s ease;
    fill: var(--text);
}

.social-links a:hover i {
    transform: scale(1.2);
    fill: var(--accent);
}